@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --font-family: "Comfortaa", sans-serif;
    --font-weight: 400;
    --font-style: normal;

    --primary-color: #6E07F3;
    --secondary-color: #ff37e4;
    --background-color: #fff;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#projetos h2, .contato h2{
    color: var(--background-color);
    font-size: 40px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-style: var(--font-style);
}
.contato h2{
    color: black;
    padding-top: 20%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--primary-color);
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container h1{
    margin-top: 5%;
    margin-top: 15%; 
}
.container h3{
    margin-top: 2%;
}
.container h1, .container h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-weight: bold;
    font-style: var(--font-style);
}
.image{
    border-radius: 50%;
    height: auto;
    width: 15%;
    margin-top: 8%;
}
.banner{
    width: 80%;
    height: auto;
}
.content{
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10%;
}
.previewText{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.previewText h3{
    font-size: 40px;
    width: 70%;
    height: 100%;
    text-align: center;
    top: 0;
    font-family: var(--font-family);
    font-weight: bold;
    font-style: var(--font-style);
}
.previewText p{
    width: 70%;
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-style: var(--font-style);
    font-size: 16px;
    line-height: 1.6;
}
.hab{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    position: relative;
    top: -50px;
    background-color: var(--background-color);
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}
.hab h2{
    color: #313131;
    padding: 15px 0;
    width: 90%;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: 700;
}
.hab h3{
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-style: var(--font-style);
}
.hab p{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.644);
    font-family: var(--font-family);
    font-size: small;
}
.hab img{
    height: auto;
    margin-top: 10%;
    width: 30%;
}
#skill-cards{
    width: 100%;
    height: 100%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.123);
    border-right: 1px solid rgba(0, 0, 0, 0.123);
}
.scroll-btn{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10%;
    margin-top: -10%;
    background-color: var(--primary-color);
}

.project-grid {
    padding: 5%;
    display: flex;
    justify-content: space-around;
  }
  
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    width: 20%;
    background-color: var(--background-color);
    
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.project-card a{
    text-decoration: none;
}

.social-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 14px;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
  }
  
  .BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 0px;
  }
  .github .BG {
    background: #181818;
  }
  .linkdin .BG {
    background: #0077b5;
  }
  .whatsapp .BG {
    background: #075e54;
  }
  .discord .BG {
    background: #7289da;
  }
  .Btn:hover .BG {
    transform: scale(1.5);

    font-size: 20px;
    color: white;
  }
  
  .Btn:hover .svgContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(209, 209, 209, 0.466);
    backdrop-filter: blur(4px);
  }
  


@media(max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10%;
    }
    body {
        overflow-x: hidden;
      }
      nav{
        position: fixed;
        width: 100%;
        z-index: 1000;
      }
      .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    }
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }

    .container h1{
        margin-top: 5%;
        font-family: var(--font-family);
        font-weight: 700;
        font-style: var(--font-style);
        margin-top: 15%;
        display: flex;
        padding-bottom: 10%;
        width: 80%;
    }
    .container h3{
        margin-top: 2%;
        font-family: var(--font-family);
        font-weight: bold;
        font-style: normal;
        width: 80%;
    }
    .image{
        border-radius: 50%;
        height: auto;
        width: 40%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .banner{
        width: 80%;
        height: auto;
    }
    .content{
        display: flex;
        width: 100%;
        background-color: var(--primary-color);
    }
    .previewText{
        padding-top: 10%;
        padding-bottom: 20%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }
    .previewText h3{
        padding-bottom: 5%;
        font-size: 30px;
        width: 70%;
        height: 100%;
        text-align: center;
        top: 0;
        font-family: var(--font-family);
        font-weight: bold;
        font-style: var(--font-style);
    }
    .previewText p{
        width: 90%;
        text-align: center;
        margin-top: 2%;
        font-size: 25px;
        font-family: var(--font-family);
        font-weight: 500;
        font-style: var(--font-style);
        font-size: 16px;
        line-height: 1.6;
    }
    .hab{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
        background-color: transparent;
        border: none;

    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;

    
    }
    .hab h2{
        color: #313131;
        padding: 5px 0;
        width: 90%;
        color: var(--primary-color);
        font-family: var(--font-family);
        font-weight: 700;
    }
    .hab h3{
        color: var(--secondary-color);
        font-family: var(--font-family);
        font-weight: 500;
        font-style: var(--font-style);
    }
    .hab p{
        width: 80%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.644);
        font-family: var(--font-family);
        font-size: small;
    }
    .hab img{
        height: auto;
        margin-top: 10%;
        width: 30%;

    }
    #skill-cards{
        width: 100%;
        height: 100%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: white;
        transition: border .5s ease;
    }
    .card1:hover{
        border: 1px solid var(--secondary-color);
    }#skill-cards{
        width: 100%;
        height: 100%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: white;
        transition: border .5s ease;
    }
    .card2:hover{
        border: 1px solid rgb(219, 219, 0);
    }
    .card3:hover{
        border: 1px solid blue;
    }
    .scroll-btn{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    #projetos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: var(--primary-color);
        padding-top: 20%;
        margin-top: -20%;
        font-family: var(--font-family);
        font-weight: bold;
        font-style: var(--font-style);
    }
    #projetos h2{
        color: white;
        font-size: 40px;
    }
    .project-grid {
        padding: 5%;
        display: flex;
        justify-content: space-around;
      }
      
    .project-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s ease;
        width: 50%;
        background-color: white;
        
    }
    
    .project-card:hover {
        transform: scale(1.05);
    }
    
    .project-card img {
        width: 100%;
        height: auto;
    }
    
    .project-card h3 {
        margin: 10px 0;
        font-size: 18px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .project-card a{
        text-decoration: none;
    }


